<!--<div id="loggingin">
  <a href='/login' id="log"><i class="fa fa-sign-in fa-2x" aria-hidden="true"> LOGIN</i></a>
</div>-->
<div class="page-header">
  <h3>Where are you?</h3>
</div>
<div>
  <form name='location-form' action='/eventslogged' method='GET'>
    <label type='text' for='location'>City or Zip Code:  </label>
    <input type='text' name='location' id='location' />
    <button id='findButton'>Submit</button>
  </form>
</div>
