body{
    background: orangered;
    font-family: tahoma;
    color: #989898;
}

.navbar-header {
  background: orangered;
}

#logoImg {
  padding: 50px;
}
#whats {
  margin-bottom: 50px;
  text-align: center;
}

#tweet {
    text-decoration: none;
    color: orangered;
}


#login-btn{

  background: #fff;

}
.fa-twitter{
  color: orangered;
}

#loggingin {
  padding-top: 20px;
  float: right;
  color: #fff;

}

#log {

  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.yelp-box {
  display: flex;
  color: #fff;
}

.business-name{
  display: flex;
  margin-right: 10px;
  font-size: 26px;
  /*max-width: 150px;*/
  min-width: 150px;
}
.yelp-thumbnail {
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
  margin-right: 10px;
}

.info {
  display: flex;
  line-height: 30px;
  margin-left: 40px;
  margin-top: 20px;
}
.info .business-address {
  display: none;

}
.info:hover .business-description {
  display: none;

}
.info:hover .business-address {
  display: inline;

}
/*.business-description{

  line-height: 30px;
  margin-left: 40px;
  margin-top: 20px;

}
.business-description:hover{
  opacity: 0;
}*/


.going{
  position: absolute;
  margin-left: 1000px;
  margin-top: 90px;

  color: orangered;
}

.preinfo {
  display: flex;
  line-height: 30px;
  margin-left: 40px;
  margin-top: 20px;
}
.preinfo .business-address {
  display: none;

}
.preinfo:hover .business-description {
  display: none;

}
.preinfo:hover .business-address {
  display: inline;

}
/*.business-description{

  line-height: 30px;
  margin-left: 40px;
  margin-top: 20px;

}
.business-description:hover{
  opacity: 0;
}*/


.pregoing{
  position: absolute;
  margin-left: 1000px;
  margin-top: 90px;

  color: orangered;
}