
<h1 id='whats'>What's on in {{data.businesses.0.location.city}}! </h1>

{{#each data.businesses}}
  <div class='yelp-output'>
    <div class='yelp-item'>
      <div class='yelp-box'>
        <img class="yelp-thumbnail" src="{{this.image_url}}">
        <h2 class="business-name">{{ this.name }}</h2>
        <form id="going">
            <input class="decision" id="decision" type="button" name='userAttendingVenue' value="Not Going" />
        </form>
        <p class="business-description">{{this.snippet_text }}</p>
      </div>
    </div>
  </div>
  <hr />
{{/each}}
