<div class="page-header">
  <h3>Where are you?</h3>
</div>
<div>
  <form  method="post">
    <label type='text' for='location'>City or Zip Code</label>
    <input type='text' name='location' id='location' />
    <button type='submit'>Submit</button>
  </form>
</div>
