
<div class="page-header">
  <h3>Where are you?</h3>
</div>
<div>
  <form name='location-form' action='/search' method='GET'>
    <label type='text' for='location'>City or Zip Code:  </label>
    <input type='text' name='location' id='location' />
    <button id='findButton'>Submit</button>
  </form>
</div>
