<div>
	<div class="login">
		  <h1 class="text-center">Login</h1>
		<hr />

    <div class="login text-center">
      <a href="/auth/twitter" id="tweet">

      <div class="btn" id="login-btn">
        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
        <p>LOGIN WITH TWITTER</p>
      </div>

      </a>
    </div>



	</div>
</div>
